<h2 mat-dialog-title>Ajouter une description</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description" rows="3"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-flat-button color="primary" (click)="onConfirm()" [disabled]="!description">Valider</button>
</mat-dialog-actions>
